.shop {
  text-align: center;
}

.shop-wrapper{
  padding: 20px;
}

.plant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
}

.shop-background{
  object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 85vh;
}

.shop-heading{
 text-align: start;
  border-bottom: 1px solid #ccc;
  margin-block: 40px;
  padding-bottom: 10px;
  padding-inline: 70px;
}

.shop-heading h2{
  font-size: 50px;
  color: #96ca80;
}
