.slider {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.slider-image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s ease-in-out;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.slider-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slider-button:first-of-type {
    left: 10px;
}

.slider-button:last-of-type {
    right: 10px;
}