.our-journey{
    padding: 60px;
}

.journey-wrapper{
    display: flex;
    justify-content: space-between;
    padding-inline: 60px;
}

.journey-left-section,
.journey-right-section{
    width: 50%;
}

.journey-img{
    max-width: 350px;
}

.journey-heading{
    font-size: 52px;
}

.journey-paragraph{
        padding-bottom: 30px;
        font-size: 17px;
        color: #343434;
}

.journey-btn button{
    display: flex;
    align-items: center;
    gap: 7px;
    background-color: #000;
    color: #fff;
    padding: 10px 30px;
    border-color: transparent;
    cursor: pointer;
}

.journey-image-wrapper{
    position: relative;
}

.journey-small-image{
    position: absolute;
    top: 150px;
    left: 300px;
   
}

.journey-small-img{
    max-width: 150px;
    object-fit: cover;
    border: 5px solid white;
}

@media screen and (max-width: 1180px) {
    .journey-small-image{
        display: none;
    }
}

@media screen and (max-width: 1080px) {
    .journey-img{
        max-width: 250px;
    }
}

@media screen and (max-width: 880px) {
    .our-journey{
        padding: 30px;
    }

    .journey-wrapper{
        flex-direction: column;
        padding-inline: 0;
    }

    .journey-left-section{
        display: none;
    }

    .journey-right-section{
        width: 100%;
    }
}