.site-home {
  background-image: radial-gradient(circle, #e9decc, #f6efdc, #f5f1e9, #fbf6f9, #ffffff);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  height: 100%;
}


.home-text-section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero-image{
  max-width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.hero-image-bottom{
  max-width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotate(180deg);
}

.home-heading{
  z-index: 100;
}

.planty-heading{
    font-size: 70px;
}

.home-paragraph p{
    color: #3a3a3a;
    font-size: 20px;
    margin-bottom: 60px;
}

.shop-button {
   padding: 10px 20px;
   background-color: #000000;
   color: #ffffff;
   border: none;
  }

  @media screen and (max-width: 1080px){
    .home-text-section{
      z-index: 9999;
    }

    .hero-image,
    .hero-image-bottom{
      opacity: 40%;
    }
  }
  
  @media screen and (max-width: 600px){
    .hero-image-bottom{
      display: none;
    }
  }
