.site-footer{
    background-color: #96ca80;
}

.footer-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));
    padding: 5% 10%;
}

.footer-logo{
    margin-top: 0;
}

.footer-links{
    list-style-type: none;
    line-height: 1.5;
    margin: 10px 0 0 0;
    padding: 0;
    cursor: pointer;
}

.footer-links li{
    margin: 0;
    padding: 0;
    transition: all .2s;
}

.social-links{
    list-style-type: none;
    display: flex;
    justify-content: start;
    margin: 10px 0 0 0;
    padding: 0;
    gap: 20px;
    cursor: pointer;
}

.social-links li{
    transition: all .2s;
}

.font-bold{
    font-weight: bold;
    font-size: 17px;
}

.footer-links li:hover,
.social-links li:hover{
    color: #fff;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright p{
    font-size: 13px;
    color: rgb(75, 75, 75);
}


@media only screen and (max-width: 992px) {
    .footer-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr)); 
        grid-gap: 40px ;
    }
}

@media only screen and (max-width: 768px) {
    .footer-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(60%, 1fr)); 
    }

}